<header>
	<a href="/"><%- name %></a>

	<% if(anonup || loggedIn) { %>
		<a href="/upload"><i class="fa fa-upload" aria-hidden="true"></i></a>
	<% } %>

	<form action="/images/search" class="navbar-search">
		<input type="text" name="tags" class="search-input" value="<%- searchTags %>">
		<button type="submit" value="" class="search-button">
			<i class="fa fa-search" aria-hidden="true"></i>
		</button>
	</form>

	<div class="right-navbar">
		<% if(!loggedIn) { %>
			<a href="/user/register">Register</a>
			<a href="/user/login">Login</a>
		<% } else { %>
			<a href="/users/<%- username %>"><%- username %></a>
			<a href="/user/logout/">Logout</a>
		<% } %>
	</div>
</header>