<!DOCTYPE html>
<html>
	<%- include('imports/header'); %>

	<body>

		<h1 class="index-title"><%- title %></h1>

		<div class="index-page">
			<form class="search-form" action="/images/search">
				<input type="text" name="tags" class="search-input" />
				<button value="" class="search-button">
					<i class="fa fa-search" aria-hidden="true"></i>
				</button>
			</form>
			
			<div class="links-area">
				<a href="/images/">Gallery</a>
				<a href="/tags/">Tags</a>
				<a href="/upload/">Upload</a>
				<a href="/about/">About</a>
				<a href="/contact/">Contact</a>
				<a href="/rules/">Rules</a>
			</div>
		</div>
		
	</body>
</html>
