<!DOCTYPE html>
<html>
	<%- include('imports/header'); %>

	<body>
		<%- include('imports/navbar'); %>

		<main>
			<h1>Upload an image</h1>

			<%- include('forms/upload.ejs') %>
		</main>
	</body>
</html>