<!DOCTYPE html>
<html>
	<%- include('imports/header'); %>

	<body>
		<%- include('imports/navbar'); %>

		<main>
			<h1>Upload an image</h1>

			<div class="upload-area">
				<%- include('forms/upload.ejs') %>
			</div>
		</main>
	</body>
</html>