<!DOCTYPE html>
<html>
	<%- include('imports/header'); %>

	<body>
		<%- include('imports/navbar'); %>

		<main>
			<h1><%- profilename %></h1>

			<%- include('forms/user.ejs') %>
		</main>
	</body>
</html>