<!DOCTYPE html>
<html>
	<%- include('imports/header'); %>

	<body>
		<%- include('imports/navbar'); %>

		<main>
			<div class="image-container">
				<img class="view-image" src='<%- source %>'>
			</div>

			<div class="tags-container">
			<% tags.forEach(function(tag) { %>
				<p class="tag-item"><%- tag %></p> 
			<%	}) %>
			</div>
		</main>
	</body>
</html>
