<!DOCTYPE html>
<html>
	<%- include('imports/header'); %>

	<body>
		<%- include('imports/navbar'); %>

		<main>
			<div class="image-container">
				<img class="view-image" src='<%- source %>'>
			</div>
			<p><%- tags %></p>
		</main>
	</body>
</html>
