<form action="/user/login" method="post">
	<label for="username">Username: </label>
	<input type="text" name="username" id="username" placeholder="your username here"><br/>
	<label for="password">Password:</label>
	<input type="password" name="password" id="password"><br/>
	
	<label for="keeplogin">Keep me logged in</label>
	<input type="checkbox" name="keeplogin" id="keeplogin"><br/>

	<input type="submit">
</form>